<div class="col-md-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="First Name" name="usr_firstName"
            value="{{this.usr_firstName}}">
        <label for="floatingInput">First Name</label>
    </div>
</div>
<div class="col-md-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="Last Name" name="usr_lastName"
            value="{{this.usr_lastName}}">
        <label for="floatingInput">Last Name</label>
    </div>
</div>
<div class="col-md-6">
    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" placeholder="Email" name="usr_email"
            value="{{this.usr_email}}">
        <label for="floatingInput">Email</label>
    </div>
</div>
<div class="col-md-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="Phone" name="usr_phone"
            value="{{this.usr_phone}}">
        <label for="floatingInput">Phone</label>
    </div>
</div>
<div class="col-md-12">
    <div class="form-floating mb-3">
        <textarea class="form-control" id="floatingInput" placeholder="Comment" name="usr_comments"
            style="height: 200px;">{{this.usr_comments}}</textarea>
        <label for="floatingInput">Comment</label>
    </div>
</div>
<button type="submit" class="btn btn-primary form-control">Submit</button>